/* Absolute Center */
.abs-center{
	margin: auto;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
}
/*Container for audio player*/
#audioplayer{
	width: 480px;
	height: 60px;
	margin: auto;
	margin-top: 50px;
	background-color: #F3F3F3;
}
/* Play/Pause Button */
#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
	outline:none;

}
/*Classes for play/pause button background*/
.play{background: url('../img/play.png') ;}
.pause{background: url('../img/pause.png') ;}
.thumb{background: url('../img/thumb.png') ;}

#timeline{
	width: 382px;
	height: 60px;
	float: left;
}
#thumb_line{
	width: 382px;
	height: 60px;
	margin-left: 40px;
}
#progress_bg{
	width: 382px;
	height: 8px;
	background: rgba(0,0,0,.16);
	margin-top: 26px;
	float: left;
}

#progress{
	width: 0px;
	height: 8px;
	background: rgba(0,0,0,.82);
	margin-top: 26px;
}
/*Grabable Playhead*/
#playhead{
	width: 43px;
	height: 56px;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	outline:none;
	border: none;
	margin-top: 0px;
	float:none;
}
