div.audio {
    display: block;
    clear: both;
    float: left;
}

.audio_control {
    display: flex;
}

#wrapper{
}

#audioplayer {
    width: 100vw;
    height: 12vw;
    margin-top: 1vw;
    padding-top: 3vw;
    background-color: #F3F3F3;
}

/* Play/Pause Button */
#pButton {
    width: 8vw;
    height: 8vw;
    border: none;
    margin-left: 3vw;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;

}

/*Classes for play/pause button background*/
.play {
    background: url('../img/play.png');
    background-size: 100%;
}

.pause {
    background: url('../img/pause.png');
    background-size: 100%;
}

.thumb {
    background: url('../img/thumb.png');
    background-size: 100%;
}

#timeline {
    width: 80vw;
    height: auto;
    float: left;
    margin-left: 3vw;
}


#progress_bg {
    width: 80vw;
    height: 0.8vw;
    background: rgba(0, 0, 0, .16);
    margin-top: 4vw;
    float: left;
}

#progress {
    width: 0px;
    height: 0.8vw;
    background: rgba(0, 0, 0, .82);
    margin-top: 4vw;
}

#thumb_line {
    width: 80vw;
    height: auto;
    margin-left: 12vw;
    position: absolute;
    margin-top: 1.3vw;
}

#playhead {
    width: 4vw;
    height: 6vw;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    float: none;
}

#time {
    margin-top: 2vw;
    position: absolute;
    float: left;
    color: #9A9A9A;
    font-size: 4vw;
    font-family: sans-serif;
}

#duration {
    text-align: right;
    margin-top: 2vw;
    float: right;
    color: #9A9A9A;
    font-size: 4vw;
    font-family: sans-serif;
}
